.idea/*
.codel/*
node_modules/*
package-lock.json
docs/*
logs/*
coverage/*
upload/*.xls*
.vscode/
dist/*
src/build/*
_cacache
_logs
_update-notifier-last-checked
index-*
content-*
_npx
anonymous*.json
.eslintcache
.config*